@import url('auxiliar.css');
@charset "utf-8";

/***GLOBAIS***/

html,body{
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	background-color:rgba(228, 241, 254,1.0);
	overflow: auto;
}

/***busca***/

.ik-message-white{
	color: white;
	font-weight: bolder;
	padding:10px 0
}

/***HEADER***/
.ik-topo {
	width: 100%;
	height: 50px;
    position: relative;
    background-color:rgba(41, 128, 185,1.0);
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 1001;
}

.navbar-brand {
    padding: 2px 5px!important;
    background-color: white;
}

.header-opt{
	padding-top: 15px; 
	padding-bottom: 10px
}


/***LAYOUT_PAGINA***/
.aw-layout-page{
	position:relative;
	overflow-x:hidden;
	width:100%;
	min-height:100%;
	padding-bottom:60px
}

.aw-layout-content{
	position:relative;
	margin:20px 0 0;
	transition:all .5s;
	overflow: auto;
}

@media (min-width:992px){
	.aw-layout-content.is-toggled{
		margin-left:0
	}
	.aw-layout-content{
		margin-left:210px;
		overflow: hidden;
	}
}

.layout-simples__container{
	display:block;
	max-width:420px;
	margin:auto;
	padding:10% 10px 0
}

/***SIDEBAR***/
.aw-layout-sidebar,.aw-layout-simple-page{background-color:#f6f6f6}
.aw-layout-sidebar{background: transparent;}
.aw-layout-sidebar{position:fixed;left:0;top:0;bottom:0;z-index:1000;height:99%;padding-top:65px;margin-left:-211px;border-right:1px solid;border-right-color:transparent;overflow-x:hidden;transition:all .5s}
.aw-layout-sidebar.is-toggled{margin-left:0}

@media (min-width:992px){.aw-layout-sidebar{margin-left:0}.aw-layout-sidebar.is-toggled{margin-left:-211px}}

.aw-layout-sidebar__content{position:relative;overflow-y:auto;height:99%;width:210px}

/***FOOTER***/
.aw-layout-footer{position:absolute;left:0;right:0;bottom:0;height:50px;margin:0;border-top:1px solid #eee;transition:all .5s; overflow: hidden;}
@media (min-width:992px){.aw-layout-footer.is-toggled{margin-left:0}.aw-layout-footer{margin-left:210px}}
.aw-footer-disclaimer{font-size:92%;display:block;color:#777;line-height:4;text-align:center}
@media (max-width:700px){.aw-footer-disclaimer{font-size:65%}}

/***PAGINA DE ERRO***/
.aw-error-panel{color:#000000;	text-align:center}
.aw-error-panel__title{font-size:32px}
.aw-error-panel__description{display:block;padding:18px 0}
.aw-error-panel__code{color:#ff0000;font-size:80px;font-weight:400}

.user{
	width: 100%;
	height:100px;
	padding: 5px;
	margin-bottom: 5px;
}
.user-text{
	color: #000000;
	font-weight: bolder;
	font-style: italic;
	font-size: 0.8em;
}
.user-img{
	width: 35px;
	height:35px;
}
.user-details, .menu-details {
	margin-left: 10px;
	padding-top:10px;
	padding-left:30px;
	height: 100%;
	border-radius: 5px;
	background: #ffffff;
}

.logo-emp{
	border-radius: 5px;
}

.menu-details{
	padding-left:0;
	border: none;
	font-style: italic;
	font-weight: bolder;
}

/***MENU***/
.aw-menu__list{margin-bottom:0;padding-left:0;list-style:none}
.aw-menu__item{position:relative;display:block}
.aw-menu__item>a{position:relative;display:block;padding:1px;color:#000000;margin: 5px;}
.aw-box__icon,.aw-menu__item.is-active>a{color:#1e94d2}
.aw-menu__item>a>i{margin-right:1px}
.aw-menu__item>a:focus,.aw-menu__item>a:hover{background:#eee;text-decoration:none}
