<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/LayoutPadrao}">
<section layout:fragment="conteudo">
	<div class="panel panel-primary">
		<div class="panel-heading sombra">
			<h2 class="panel-title text-center">
				<strong>Cadastro de Turmas de Estágio</strong>
			</h2>
		</div>

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#dadosTurma"
				class="bg-info">Dados da Turma</a></li>
			<li><a data-toggle="tab" href="#alunos" class="bg-info">Alunos
					Inscritos</a></li>
		</ul>

		<div class="panel-body">
			<div class="container-fluid">

				<div class="tab-content">

					<div id="dadosTurma" class="tab-pane fade in active panel panel-primary">

						<th:block layout:insert="~{layout/fragmentos/alertas :: success}"></th:block>

						<form method="post" class="form-vertical  js-form-loading"
							th:object="${turmaEstagio}" th:action="@{/turmas_estagio/novo}">

							<th:block
								layout:insert="~{layout/fragmentos/alertas :: validation}"></th:block>

							<input type="hidden" th:field="*{id}" />

							<div class="col-xs-12 col-sm-1 col-md-1">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('semestre')} ? has-error">
									<label for=semestre class="input-group-addon control-label">Sem.</label>
									<input id="semestre" type="text"
										class="form-control text-center semestre"
										th:field="*{semestre}" />
								</div>
							</div>
							<div class="col-xs-12 col-sm-2 col-md-2">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('tipoEstagio')} ? has-error">
									<label for=ies class="input-group-addon control-label">Tipo
										do Estágio</label> <select id="tipoEstagio" class="form-control"
										th:field="*{tipoEstagio}">
										<option value="">Selecione o tipo</option>
										<option th:each="tipo : ${tipos}" th:value="${tipo}"
											th:text="${tipo.descricao}"></option>
									</select>
								</div>
							</div>

							<div class="col-xs-12 col-sm-2 col-md-2">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('dia')} ? has-error">
									<label for=dia class="input-group-addon control-label">Dia
										do Estágio</label> <select id="dia" class="form-control"
										th:field="*{dia}">
										<option value="">Selecione o dia</option>
										<option th:each="dia : ${dias}" th:value="${dia.descricao}"
											th:text="${dia.descricao}"></option>
									</select>
								</div>
							</div>
							<div class="col-xs-12 col-sm-2 col-md-2">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('horario')} ? has-error">
									<label for=horario class="input-group-addon control-label">Horário</label>
									<input id="horario" type="text" class="form-control horario"
										th:field="*{horario}" />
								</div>
							</div>
							<div class="col-xs-12 col-sm-1 col-md-1">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('cargahoraria')} ? has-error">
									<label for=cargahoraria class="input-group-addon control-label">C/H</label>
									<input id="cargahoraria" type="text" class="form-control ch"
										th:field="*{cargahoraria}" />
								</div>
							</div>
							<div class="col-xs-12 col-sm-1 col-md-1">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('vagas')} ? has-error">
									<label for=vagas class="input-group-addon control-label">Vagas</label>
									<input id="vagas" type="text" class="form-control ch"
										th:field="*{vagas}" />
								</div>
							</div>

							<div class="col-xs-12 col-sm-3 col-md-3">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('professor')} ? has-error">
									<label for=professor class="input-group-addon control-label">Professor</label>
									<input id="professor" type="text" class="form-control"
										th:field="*{professor}" />
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 text-center">
								<th:block th:each="semestre : ${semestres}">
									<span class=" btn btn-xs btn-default col-xs-2"> <input
										type="checkbox" name="semestres"
										th:value="${semestre.descricao}" th:field="*{disponivel}" /> <label
										th:text="${semestre.descricao}">semestre</label>
									</span>
								</th:block>
							</div>


							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group"
									th:classappend="${#fields.hasErrors('observacao')} ? has-error">
									<label for=observacao class="input-group-addon control-label">Observação</label>
									<input id="observacao" type="text" class="form-control"
										th:field="*{observacao}" maxlength="200" />
								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="form-group">
									<button class="btn  btn-success pull-left" type="submit"
										title="Salvar Turma" data-toggle="tooltip"
										sec:authorize="hasRole('ADMIN') or hasRole('EDITOR')">Salvar</button>
									<a class="btn btn-info pull-right sombra-btn"
										th:href="@{/turmas_estagio}" title="voltar"
										data-toggle="tooltip"> <i class="fa  fa-reply"></i>
									</a>
								</div>
							</div>
						</form>
					</div>

					<div id="alunos" class="tab-pane fade in panel panel-primary">
					
					<div class="col-xs-12 text-center" >
						<button id="btnDownload" class="bg-info">
							<img alt="Download" src="/layout/imagens/Excel.gif" title="donwload" data-toggle="tooltip" data-placement="bottom">
						</button>
					</div>
						<table id="tabela-alunos"
							class="table  table-striped table-bordered  table-hover  table-condensed table-reflow">
							<thead class="aw-table-header-solid">
								<tr>
									<th colspan="4" th:text="|Alunos: Estágio ${turmaEstagio.getTipoEstagio().descricao} (${turmaEstagio.dia} - ${turmaEstagio.horario})|"></th>
								</tr>
								<tr>
									<th>RA</th>
									<th>Nome</th>
									<th>Curso</th>
									<th>Semestre</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="aluno : ${alunos}">
									<td th:text="${aluno.matricula}" data-label="RA"></td>
									<td th:text="${aluno.nome}" data-label="Nome"></td>
									<td
										th:text="|${aluno.curso.nome}-${aluno.curso.faculdade.sigla}|"
										data-label="Curso"></td>
									<td th:text="${aluno.semestre}" data-label="semestre"></td>
								</tr>
								<tr th:if="${alunos.isEmpty()}">
									<td colspan="4" class="bg-danger">Nenhum aluno cadastrado</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="4" class="bg-primary text-center"><strong><span
											th:text="'Total de Registros: ' + ${alunos.size()}"></span></strong></td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/layout/javascripts/jquery.mask.min.js}"></script>
	<script th:src="@{/layout/js/pageable.js}"></script>
	<script th:src="@{/layout/js/jquery.btechco.excelexport.js}"></script>
	<script th:src="@{/layout/js/jquery.base64.js}"></script>
	<script>
	    $(document).ready(function () {
	        $("#btnDownload").click(function () {
	            $("#tabela-alunos").btechco_excelexport({
	                containerid: "tabela-alunos"
	               , datatype: $datatype.Table
	               , filename: 'tabela-alunos'
	            });
	        });
	    });
	</script>
</th:block>
</html>